.details_card {
  margin: 2.5rem auto;
  padding: 2rem 1.5rem 2rem 1.5rem;
  border-radius: 0.55rem;
  box-shadow: 0px 0px 8px #06060614;
  background: #444951;
  text-align: left;
}

.details_card .container {
  padding-right: 0;
  padding-left: 0;
}
.details_card .brand_icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.details_card .h41 {
  color: #f3f3f3;
  text-align: left;
  font-family: "Momocake";
  letter-spacing: 4px;
}

.details_card h6 {
  color: #f3f3f3;
  text-align: center;
  /* font-family: "Momocake"; */
  letter-spacing: 4px;
  margin-top: -7px;
  margin-left: 20px;
}

.details_card h4 {
  color: #f3f3f3;
  text-align: center;
  font-family: "Momocake";
  letter-spacing: 4px;
  margin-top: 20px;
}
.details_card .brand_icons img {
  width: 110px;
  margin-top: 15px;
  text-align: center;
}
.details_card .ForCssOnly {
  display: flex;
  padding-top: 20px;
  cursor: pointer;
}
.details_card .ForCssOnly p {
  margin-left: 20px;
  margin-top: -5px;
}

/* .details_card .demo_pic img {
    width: 100%;
    height: 300px;
  } */
.details_card .demo_pic {
  animation: demopic 12s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}

@keyframes demopic {
  0%,
  100% {
    background: url(../images/ply4.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/ply3.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/ply2.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/ply.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .upvc_pic {
  animation: upvcpic 15s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes upvcpic {
  0%,
  100% {
    background: url(../images/UPVC\ \ Work.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/UPVC\ \ Work\ 2.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/UPVC\ \ Work\ \ 3.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/UPVC\ \ Work.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .laminate_pic {
  animation: laminate 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes laminate {
  0%,
  100% {
    background: url(../images/laminate1.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/laminate\ 2.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/laminate\ 3.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/laminate1.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .hardwares_pic {
  animation: hardwarespic 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes hardwarespic {
  0%,
  100% {
    background: url(../images/Handles\ 1.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/Handles2.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/Baskets\ 1.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/Baskets2.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .msss_pic {
  animation: msss 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes msss {
  0%,
  100% {
    background: url(../images/MS\ Gate\ Auto\ mation\ 1.jpg) center center
      no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/MS\ Gate\ Auto\ mation\ 3.jpg) center center
      no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/MS\ Stair\ Case.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/MS\ Glass\ railing\ 2.jpg) center center no-repeat;
    background-size: cover;
  }
}
/* .details_card .aluminium_pic {
  animation: aluminiumpic 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
} */
/* @keyframes aluminiumpic {
  0%,
  100% {
    background: url(../photos/AluminiumACPWork1.jpg) center center
      no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../photos/AluminiumACPWork1.jpg) center center
      no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../photos/AluminiumACPWork1.jpg) center center
      no-repeat;
    background-size: cover;
  }
  
} */
.details_card .electrification_pic {
  animation: electrification 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes electrification {
  0%,
  100% {
    background: url(../images/electrifi.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/electr.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/electrification.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/electrifi.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .paint_pic {
  animation: paint 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes paint {
  0%,
  100% {
    background: url(../images/paint.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/paint\ 2.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/paint\ 3.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/paint.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .hpl_pic {
  animation: hpl 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes hpl {
  0%,
  100% {
    background: url(../images/hpl.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/hpl\ 2.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/hpl\ 3.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/hpl\ 2.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .walldesign_pic {
  animation: walldesign 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes walldesign {
  0%,
  100% {
    background: url(../images/wall.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/wall\ 3.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/wall\ 2.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/wall\ 3.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .connst_pic {
  animation: connst 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes connst {
  0%,
  100% {
    background: url(../images/construct.png) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/cunstructions.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/Constructin.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/construct.png) center center no-repeat;
    background-size: cover;
  }
}
.details_card .flooring_pic {
  animation: flooringpic 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes flooringpic {
  0%,
  100% {
    background: url(../images/Wooden\ floring.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/Wooden\ floring\ 2.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/Wooden\ floring\ 3.jpeg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/Wooden\ floring.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .ceiling_pic {
  animation: ceilingpic 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes ceilingpic {
  0%,
  100% {
    background: url(../images/ceiling.png) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/Ceiling2.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/ceiling3.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/celing.jpeg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .demo-btn {
  margin-left: 5%;
}
.details_card .demo-btn i {
  font-size: 30px;
  cursor: pointer;
}
.details_card .demo-btn .demo-btn1 {
  margin-right: 80%;
}

@media (min-width: 991px) {
  /* Details Lightboxes */
  .details_card {
    max-width: 62.5rem;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  }

  .details_card .brand_icons {
    max-width: 100%;
    margin-right: 2rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
  }

  .details_card h3 {
    margin-top: 0.5rem;
  }
}
