.our_feature {
  padding: 3rem 0;
  text-align: center;
  background: #1e2024;
}
.our_feature h2 {
  color: #f3f3f3;
  padding: 2rem;
  font-family: "Momocake";
  letter-spacing: 4px;
}
.our_feature .fa-stack-2x {
  color: #00000057;
  transition: all 0.2s ease;
}
.our_feature .fa-stack {
  margin-bottom: 0.75rem;
  margin-right: 0.5rem;
  font-size: 3rem;
}

.our_feature .fa-stack .fa-stack-1x {
  color: #87531a;
  transition: all 0.2s ease;
}
.our_feature .fa-stack:hover .fa-stack-1x {
  color: rgba(255, 255, 255, 0.582);
}
.our_feature h4 {
  color: #f3f3f3;
  letter-spacing: 4px;
  font-family: "Momocake";
}
