.icons_left {
  text-align: center;
  margin: auto;
}

.icons_left a {
  color: white;
  padding: 20px;
  font-size: 18px;
}
@media (min-width: 1200px) {
  .icons_left {
    display: none;
  }
}
@media (max-width: 768px) {
  .icons_left {
    position: relative;
    bottom: -110px;
  }
  .icons_left a {
    color: white;
  }
}
