.demoimgSlides {
  /* display: none; */
}
.demoimgSlides img {
  width: 100%;
  height: 300px;
}
/* Slideshow container */

/* nextArr & prevArrious buttons */
.prevArr,
.nextArr {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "nextArr button" to the right */
.nextArr {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevArr:hover,
.nextArr:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  position: absolute;
  top: 65px;
  left: 20px;
  color: #f3f3f3;
  font-size: small;
  letter-spacing: 1px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.548);
  border-radius: 2rem;
  padding: 10px;
}

/* The controleItem/bullets/indicators */

.active,
.controle_item:hover {
  color: var(--theme_color);
}

/* Fading animation */
.fadeClass {
  -webkit-animation-name: fadeClass;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeClass;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeClass {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeClass {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prevArr,
  .nextArr,
  .text {
    font-size: 11px;
  }
}
