.our_work {
  padding: 3rem 0;
  background: #14161a;
}

.our_work h2 {
  text-align: center;
  color: #f3f3f3;
}
.our_work h3 {
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}
.our_work_card img {
  width: 95%;
  border-radius: 3px;
  box-shadow: 0px 16px 17px 6px #0c0c0c42;
}
.nxt-btn {
  margin-left: 2%;
  margin-top: 2%;
}
.nxt-btn i {
  font-size: 30px;
}
.nxt-btn .btnnn {
  cursor: pointer;
}
.nxt-btn .btnnn1 {
  margin-left: 50%;
  cursor: pointer;
}
@media (max-width: 768px) {
  .our_work h3 {
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .our_work_card .image-container > iframe {
    height: 300px;
  }
}
