.services_team_section {
  padding: 4rem 0;
  text-align: center;
  background: #14161a;
}

.team_card {
  width: 95%;
  height: 400px;
  display: inline-block;
  padding: 15px 25px;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 20px 10px;
  box-shadow: 0px 16px 17px 6px #0c0c0c42;
  background-position: center;
  background-size: cover;
  transition: transform 0.4s;
}

.team_card h3 {
  position: relative;
  background: #ffffff73;
  backdrop-filter: blur(10px);
  padding: 5px;
  padding-left: 14px;
  border-radius: 5px;
  top: 90%;
  color: #444444;
  font-family: "Momocake";
  text-align: left;
  font-size: 1.5rem;
  letter-spacing: 4px;
}

.pic1 {
  background-image: url(../images/wooden.jpg);
}
.pic2 {
  background-image: url(../images/ceiling.jpg);
}
.pic3 {
  background-image: url(../images/designwall.jpg);
}
.pic4 {
  background-image: url(../images/UPVC\ \ Work.jpg);
}
.pic5 {
  background-image: url(../images/laminate\ 2.jpg);
}
.pic6 {
  background-image: url(../images/Handles2.jpg);
}
.pic7 {
  background-image: url(../images/MS\ Glass\ railing\ 2.jpg);
}
.pic8 {
  background-image: url(../images/Aluminium\ and\ ACP\ \ work.jpg);
}
.pic9 {
  background-image: url(../images/electrifi.jpg);
}
.pic10 {
  background-image: url(../images/hpl.jpg);
}
.pic11 {
  background-image: url(../images/Constructin.jpg);
}
.pic12 {
  background-image: url(../photos/Maitence.jpg);
}
.services_team_section a {
  text-decoration: none;
}

.services_lightbox-basic {
  margin: 2.5rem auto;
  padding: 2rem 1.5rem 2rem 1.5rem;
  border-radius: 0.55rem;
  box-shadow: 0px 0px 8px #06060614;
  background: #444951;
  text-align: left;
}

.services_lightbox-basic .container {
  padding-right: 0;
  padding-left: 0;
}

.services_lightbox-basic .image-container {
  max-width: 33.75rem;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
}

.services_lightbox-basic h3 {
  margin-bottom: 0.5rem;
  color: #f3f3f3;
  font-family: "Momocake" !important;
}
.services_lightbox-basic h5 {
  color: #f3f3f3;
}
.services_lightbox-basic hr {
  width: 2.5rem;
  height: 0.125rem;
  margin-top: 0;
  margin-bottom: 1.25rem;
  margin-left: 0;
  border: 0;
  background-color: #e8236c;
  text-align: left;
}

.services_lightbox-basic h4 {
  margin-bottom: 1rem;
}

.services_lightbox-basic .list-unstyled .fas {
  color: #e8236c;
  line-height: 1.375rem;
}

.services_lightbox-basic .list-unstyled .media-body {
  margin-left: 0.625rem;
}

.services_lightbox-basic .btn-outline-reg,
.services_lightbox-basic .btn-solid-reg {
  margin-top: 0.75rem;
  border-radius: 3px;
  letter-spacing: 4px;
  font-family: "Momocake";
  font-size: 20px;
}

/* Signup Button */
.services_lightbox-basic .btn-solid-reg.mfp-close {
  position: relative;
  width: auto;
  height: auto;
  background: #e8236c;
  border: none !important;
  color: #fff;
  opacity: 1;
}

.services_lightbox-basic .btn-solid-reg.mfp-close:hover {
  color: #ffffffa1;
  background: #b40042;
}
/* end of signup Button */

/* Back Button */
.services_lightbox-basic a.mfp-close.as-button {
  position: relative;
  width: auto;
  height: auto;
  margin-left: 0.375rem;
  color: #1877f2;
  opacity: 1;
  border-radius: 10px;
  letter-spacing: 1px;
  font: 800 1rem/0 "Gilroy";
}

.services_lightbox-basic a.mfp-close.as-button:hover {
  color: #fff;
}
/* end of back button */

.services_lightbox-basic button.mfp-close.x-button {
  position: absolute;
  top: -0.125rem;
  right: -0.125rem;
  width: 2.75rem;
  height: 2.75rem;
  color: #707984;
}

@media (min-width: 991px) {
  /* Details Lightboxes */
  .services_lightbox-basic {
    max-width: 62.5rem;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  }

  .services_lightbox-basic .image-container {
    max-width: 100%;
    margin-right: 2rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
  }

  .services_lightbox-basic h3 {
    margin-top: 0.5rem;
  }
}
