/*     01. General Styles     */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
@font-face {
  font-family: Gilroy;
  src: url(../webfonts/ageo/AgeoPersonalUse-SemiBold.otf);
}
@font-face {
  font-family: Momocake;
  src: url(../momcake-font/MomcakeBold-WyonA.otf);
}

@font-face {
  font-family: quartzo;
  src: url(../azonix/Azonix.otf);
}

@font-face {
  font-family: gilroy_medium;
  src: url(../webfonts/Gilroy-Font/Radomir\ Tinkov\ -\ Gilroy-Light.otf);
}

:root {
  /* colors section */
  --theme_color: #d09449;
  --white: #ffffff;
  /* font section */
  --main_font: "Poppins", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
}

body,
p {
  color: #ffffff;
  font: 200 0.85rem/1.25rem "Poppins", sans-serif;
}

.p-large {
  font: 200 0.85rem/1.25rem "Poppins", sans-serif;
}

.p-small {
  font: 200 0.85rem/1.25rem "Poppins", sans-serif;
}

.p-heading {
  margin-bottom: 3.875rem;
}

.li-space-lg li {
  margin-bottom: 0.25rem;
}

.indent {
  padding-left: 1.25rem;
}

h1 {
  color: #ffffff;
  font: 700 3rem/3.5rem;
  font-family: "quartzo";
  font-weight: 600;
}

h2 {
  color: #393939;
  font: 700 3.25rem/2.75rem "Poppins", sans-serif;
  letter-spacing: 4px;
}

h3 {
  color: #393939;
  font: 700 1.75rem/2rem "Gilroy";
}

h4 {
  color: #393939;
  font: 700 1.375rem/1.875rem "Gilroy";
}

h5 {
  color: #393939;
  font: 700 1.125rem/1.625rem "Gilroy";
}

h6 {
  color: #393939;
  font: 700 1rem/1.5rem "Gilroy";
}

a {
  color: #626262;
  text-decoration: none !important;
}

a:hover {
  color: #626262;
  /* text-decoration: underline; */
}

a.turquoise {
  color: var(--theme_color);
}

a.white {
  color: #fff;
}

.testimonial-text {
  font: 400 0.85rem/1.5rem "Poppins", sans-serif;
}

.testimonial-author {
  font: 600 1rem/1.5rem "Poppins", sans-serif;
}

.turquoise {
  /* color: var(--theme_color); */
}

.btn-solid-reg {
  display: inline-block;
  padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
  border: 0.125rem solid #e0e0e0;
  border-radius: 3px;
  background-color: #ffffff;
  color: var(--theme_color);
  font: 800 1rem/0 "Gilroy";
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.btn-solid-reg:hover {
  background-color: transparent;
  color: #ffffff9c;
  text-decoration: none;
}

.btn-solid-lg {
  display: inline-block;
  padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
  border: 2px solid #ffffff09;
  border-radius: 5px;
  background-color: #ffffff33;
  color: #ffffff;
  backdrop-filter: blur(15px);
  font: 400 1.2rem/0 "Poppins", sans-serif;
  text-decoration: none;
  letter-spacing: 4px;
  transition: all 0.2s;

}

.btn-solid-lg:hover {
  background-color: #ffffff46;
  color: #ffffffc4;
  text-decoration: none;
}

.btn-outline-reg {
  display: inline-block;
  padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
  border: 0.125rem solid var(--theme_color);
  border-radius: 2rem;
  background-color: transparent;
  color: var(--theme_color);
  font: 700 0.75rem/0 "Gilroy";
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-reg:hover {
  background-color: var(--theme_color);
  color: #fff;
  text-decoration: none;
}

.btn-outline-lg {
  display: inline-block;
  padding: 1.375rem 2.625rem 1.375rem 2.625rem;
  border: 0.125rem solid var(--theme_color);
  border-radius: 2rem;
  background-color: transparent;
  color: var(--theme_color);
  font: 700 0.75rem/0 "Gilroy";
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-lg:hover {
  background-color: var(--theme_color);
  color: #fff;
  text-decoration: none;
}

.btn-outline-sm {
  display: inline-block;
  padding: 1rem 1.625rem 0.875rem 1.625rem;
  border: 0.125rem solid var(--theme_color);
  border-radius: 2rem;
  background-color: transparent;
  color: var(--theme_color);
  font: 700 0.625rem/0 "Gilroy";
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-sm:hover {
  background-color: var(--theme_color);
  color: #fff;
  text-decoration: none;
}

.form-group {
  position: relative;
  margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
  margin-bottom: 0.625rem;
}

.form-group.has-error.has-danger .help-block.with-errors ul {
  margin-top: 0.375rem;
}

.label-control {
  position: absolute;
  top: 0.87rem;
  left: 1.375rem;
  color: #626262;
  opacity: 1;
  font: 400 0.875rem/1.375rem "Gilroy";
  cursor: text;
  transition: all 0.2s ease;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .label-control {
    top: 0.9375rem;
  }
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
  top: 0.125rem;
  opacity: 1;
  font-size: 0.75rem;
  font-weight: 700;
}

.form-control-input,
.form-control-select {
  display: block; /* needed for proper display of the label in Firefox, IE, Edge */
  width: 100%;
  padding-top: 1.0625rem;
  padding-bottom: 0.0625rem;
  padding-left: 1.3125rem;
  border: none;
  box-shadow: 0px 1px 2px 0px #0000000f;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #626262;
  font: 200 1rem/1.875rem "Gilroy";
  transition: all 0.2s;
  -webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 3rem;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .form-control-input {
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    line-height: 1.75rem;
  }

  .form-control-select {
    padding-top: 0.875rem;
    padding-bottom: 0.75rem;
    height: 3.125rem;
    line-height: 2.125rem;
  }
}

select {
  /* you should keep these first rules in place to maintain cross-browser behavior */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url("../images/down-arrow.png");
  background-position: 96% 50%;
  background-repeat: no-repeat;
  outline: none;
}

select::-ms-expand {
  display: none; /* removes the ugly default down arrow on select form field in IE11 */
}

.form-control-textarea {
  display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
  width: 100%;
  height: 8rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
  padding-top: 1.25rem;
  padding-left: 1.3125rem;
  box-shadow: 0px 1px 2px 0px #0000000f;
  border-radius: 0.25rem;
  background-color: #fff;
  border: none;
  color: #626262;
  font: 200 1rem/1.75rem "Gilroy";
  transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
  border: 1px solid #a1a1a1;
  outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
  color: var(--theme_color) !important;
}

.checkbox {
  font: 400 0.75rem/1.25rem "Gilroy";
}

input[type="checkbox"] {
  vertical-align: -15%;
  margin-right: 0.375rem;
}

/* IE10+ hack to raise checkbox field position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  input[type="checkbox"] {
    vertical-align: -9%;
  }
}

.form-control-submit-button {
  display: inline-block;
  width: 100%;
  height: 3.125rem;
  border: 1px solid var(--theme_color);
  border-radius: 10px;
  background-color: var(--theme_color);
  color: #fff;
  box-shadow: 0px 7px 8px 0px #0000000f;
  font: 700 0.75rem/1.75rem "Gilroy";
  cursor: pointer;
  transition: all 0.2s;
}

.form-control-submit-button:hover {
  background-color: transparent;
  color: var(--theme_color);
}

/* Form Success And Error Message Formatting */
#rmsgSubmit.h3.text-center.tada.animated,
#cmsgSubmit.h3.text-center.tada.animated,
#pmsgSubmit.h3.text-center.tada.animated,
#rmsgSubmit.h3.text-center,
#cmsgSubmit.h3.text-center,
#pmsgSubmit.h3.text-center {
  display: block;
  margin-bottom: 0;
  color: #626262;
  font: 400 1.125rem/1rem "Gilroy";
}

.help-block.with-errors .list-unstyled {
  color: #626262;
  font-size: 0.75rem;
  line-height: 1.125rem;
  text-align: left;
}

.help-block.with-errors ul {
  margin-bottom: 0;
}
/* end of form success and error message formatting */

/* Form Success And Error Message Animation - Animate.css */
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* end of form success and error message animation - Animate.css */

/* Fade-move Animation For Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
  -ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
  transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(37.5rem) rotateX(0);
  -ms-transform: translateY(0) perspective(37.5rem) rotateX(0);
  transform: translateY(0) perspective(37.5rem) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
  -ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
  transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}
/* end of fade-move animation for lightbox - magnific popup */

/* Fade Animation For Image Slider - Magnific Popup */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 0.6s;
  animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation: fadeOut 0.8s;
  animation: fadeOut 0.8s;
}
/* end of fade animation for image slider - magnific popup */

/*************************/
/*     02. Preloader     */
/*************************/
.spinner-wrapper {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}

/* .spinner {
  position: absolute;
  top: 50%; */
/* centers the loading animation vertically one the screen */
/* left: 50%;  */
/* centers the loading animation horizontally one the screen */
/* width: 3.75rem;
  height: 1.25rem;
  margin: -0.625rem 0 0 -1.875rem;  */
/* is width and height divided by two */
/* text-align: center;
} */

/* .spinner > div {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: var(--theme_color);
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
} */

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/**************************/
/*     03. Navigation     */
/**************************/
.navbar-custom {
  background-color: #14161a;
  box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
  font: 100 0.875rem/0.875rem "Poppins", sans-serif;
  letter-spacing: 2px;
  transition: all 0.2s;
}
.navbar-custom .navbar-brand.logo-image {
  margin-left: 5%;
}
.navbar-custom .navbar-brand.logo-image img {
  width: 9.9375rem;
}

.navbar a {
  text-decoration: none !important;
}

.navbar-custom .navbar-brand.logo-text {
  font: 600 2rem/1.5rem "Gilroy";
  color: #393939;
  text-decoration: none;
}

.navbar-custom .navbar-nav {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
  padding: 0.625rem 0.75rem 0.625rem 0.75rem;
  color: #f3f3f3;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
  color: var(--theme_color) !important;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
  display: block; /* this makes the dropdown menu stay open while hovering it */
  min-width: auto;
  animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar-custom .dropdown-toggle:focus {
  /* removes dropdown outline on focus */
  outline: 0;
}

.navbar-custom .dropdown-menu {
  margin-top: 0;
  border: none;
  border-radius: 0.25rem;
  background-color: #fff;
}

.navbar-custom .dropdown-item {
  color: #393939;
  text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
  background-color: #fff;
}

.navbar-custom .dropdown-item .item-text {
  font: 600 0.875rem/0.875rem "Gilroy";
}

.navbar-custom .dropdown-item:hover .item-text {
  color: var(--theme_color);
}

.navbar-custom .dropdown-items-divide-hr {
  width: 100%;
  height: 1px;
  margin: 0.75rem auto 0.725rem auto;
  border: none;
  background-color: #c4d8dc;
  opacity: 0.2;
}
/* end of dropdown menu */

.navbar-custom .social-icons {
  display: none;
}

.navbar-custom .navbar-toggler {
  border: none;
  color: #f3f3f3;
  font-size: 2rem;
}

.navbar-custom
  button[aria-expanded="false"]
  .navbar-toggler-awesome.newCross {
  display: none;
}

.navbar-custom
  button[aria-expanded="false"]
  .navbar-toggler-awesome.newbar {
  display: inline-block;
}

.navbar-custom
  button[aria-expanded="true"]
  .navbar-toggler-awesome.newbar {
  display: none;
}

.navbar-custom
  button[aria-expanded="true"]
  .navbar-toggler-awesome.newCross {
  display: inline-block;
  margin-right: 0.125rem;
}

/*********************/
/*    04. Header     */
/*********************/
/* .header {
  background-color: #fff;
} */
.header {
  animation: back 12s infinite;
  /* box-shadow: inset 0px 0px 0px 20px rgba(248, 248, 248, 0.705); */

  width: 100%;
  height: 100vh;
  /* background: linear-gradient(#000000f1,#0606076b),
    url(../images/background.jpg); */
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes back {
  0%,
  100% {
    background: linear-gradient(#000000f1,#0606076b),
      url(../images/background.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: linear-gradient(#000000f1,#0606076b),
      url(../images/background1.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: linear-gradient(#000000f1,#0606076b),
      url(../images/landing.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: linear-gradient(#000000f1,#0606076b),
      url(../images/landing4.jpg) center center no-repeat;
    background-size: cover;
  }
}
/* .header {
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.896796218487395) 100%
    ),
    url(../images/landing.jpg) center center no-repeat;
  box-shadow: inset 0px 0px 0px 20px rgba(248, 248, 248, 0.705);
  background-size: cover;
  height: 100vh;
  width: 100%;
} */

.header .header-content {
  padding-top: 8rem;
  padding-bottom: 4rem;
  text-align: center;
}

.header .text-container {
  margin-bottom: 4rem;
}
.header p{
  color: white;
  letter-spacing: 4px;
}
.header .text-container a {
  /* margin-left: 1%; */
  margin-top: 1%;
}

.header h1 {
  margin-bottom: 1.125rem;
  font-size: 1rem;
  line-height: 3rem;
  color: #ffffff00;
  -webkit-text-stroke: 1px white;
  font-family: "Poppins", sans-serif;
  animation: light 2s linear infinite;
    mix-blend-mode: color-dodge;
  
}


@keyframes light {
  to {
      
      background: 
      radial-gradient(
          circle,
          white,
          transparent 25%
      ) center / 25% 25%,
      radial-gradient(
          circle,
          white,
          black 25%
      ) center / 12.5% 12.5%;
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}



.header .p-large {
  margin-bottom: 1.875rem;
}

/* .new_text {
  width: 80px;
  height: 100vh;
  background-color:#14161a;
  position: relative;
  display: inline-block;
}
.new_text h4 {
  font-weight: 100;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 35px;
  margin-top: 10rem;
  writing-mode: vertical-rl;
} */
.header .image-container {
  animation: changeBg 12s infinite;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  position: relative;
  background-size: cover;
  border-radius: 4px;
}
@keyframes changeBg {
  0%,
  100% {
    background: url(../images/landing4.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/landing2.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/landing.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/landing3.jpg) center center no-repeat;
    background-size: cover;
  }
}
.uppertag {
  letter-spacing: 19px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 3rem;
}
/*************************/
/*     05. Customers     */
/*************************/
.slider-1 {
  padding-top: 2.25rem;
  padding-bottom: 2.125rem;
  text-align: center;
}

.slider-1 h5 {
  margin-bottom: 0.75rem;
}

.slider-1 .slider-container {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  border-radius: 0.5rem;
  background-color: #f7fcfd;
}

/************************/
/*     06. Services     */
/************************/
.cards-1 {
  padding-top: 4rem;
  padding-bottom: 1.625rem;
  text-align: center;
  background: #14161a;
}

.cards-1 h2 {
  margin-bottom: 1rem;
  color: white;
}

.cards-1 .card {
  max-width: 21rem;
  margin-right: auto;
  margin-bottom: 4.5rem;
  margin-left: auto;
  padding: 3.25rem 2rem 1rem 2rem;
  box-shadow: 1px 3px 7px 0px #0000001a;
  border: 0px solid #c4d8dc;
  border-radius: 0.5rem;
  background:  #1e2024;
}

.cards-1 .card-image {
  width: 6rem;
  height: 6rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
}

.cards-1 .card-image-themes {
  width: 82rem;
  height: 12rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
}
.cards-1 .card-image-tech {
  width: 6rem;
  height: 6rem;
  margin-right: auto;
  margin-left: auto;
}
.cards-1 .card-title {
  margin-bottom: 0.875rem;
  color: white;
}

.cards-1 .card-p{
  color: #eeeeeebf;
}

.cards-1 .card-p a{
  cursor: pointer;
}

.cards-1 .card-body {
  padding: 0;
}
/* clients */
.cards-3 {
  padding-top: 4rem;
  padding-bottom: 1.625rem;
  text-align: center;
  background: #f6f8fb;
}

.cards-3 h2 {
  margin-bottom: 1rem;
}

.cards-3 .card {
  max-width: 21rem;
  margin-right: auto;
  margin-bottom: 4.5rem;
  margin-left: auto;
  padding: 3.25rem 2rem 2rem 2rem;
  box-shadow: 1px 3px 7px 0px #0000001a;
  border: 0px solid #c4d8dc;
  border-radius: 0.5rem;
  background: white;
}

.cards-3 .card-image {
  height: 6rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
}

.cards-3 .card-title {
  margin-bottom: 0.875rem;
  
}

.cards-3 .card-body {
  padding: 0;
}

/* tech cards-5 */
.cards-5 {
  /* padding-top: 4rem; */
  padding-bottom: 1.625rem;
  text-align: center;
  background: #f6f8fb;
  margin-top: -3rem;
}

/* .cards-5 h2 {
  margin-bottom: 1rem;
} */

.cards-5 .card {
  max-width: 21rem;
  margin-right: auto;
  margin-bottom: 4.5rem;
  margin-left: auto;
  padding: 3.25rem 2rem 2rem 2rem;
  box-shadow: 1px 3px 7px 0px #0000001a;
  border: 0px solid #c4d8dc;
  border-radius: 0.5rem;
  background: white;
}

.cards-5 .card-image-tech {
  width: 6rem;
  height: 4rem;
  margin-right: auto;
  margin-left: auto;
}
/* .cards-5 .card-title {
  margin-bottom: 0.875rem;
} */

.cards-5 .card-body {
  padding: 0;
}

.cards-5 .card {
  max-width: 21rem;
}

.cards-5 .col-lg-12 div.card:nth-child(3n + 2) {
  margin-right: 2.875rem;
  margin-left: 2.875rem;
}
.cards-5 .card {
  display: inline-block;
  max-width: 17.125rem;
  vertical-align: top;
}

.cards-5 .col-lg-12 div.card:nth-child(3n + 2) {
  margin-right: 2rem;
  margin-left: 2rem;
}
/*************************/
/*     07. Details 1     */
/*************************/
.basic-1 {
  padding-top: 1.625rem;
  padding-bottom: 6.75rem;
  background: #14161a;
}

.bb_card {
  width: 200px;
  height: 210px;
  display: inline-block;
  padding: 15px 25px;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 5px 5px;
  background-position: center;
  background-size: cover;
  transition: transform 0.4s;
}

.card1 {
  background-image: url(../images/landing.jpg);
}
.card2 {
  background-image: url(../images/landing.jpg);
}
.card3 {
  background-image: url(../images/landing.jpg);
}
.card4 {
  background-image: url(../images/landing.jpg);
}
.bb_card:hover {
  transform: translateY(5px);
}

.basic-1 .text-container {
  margin-bottom: 4rem;
}
.basic-1 .image-about img{
  width: 100%;
}
.imgabout {
  padding-top: 5rem;
}
.basic-1 .image-container {
  width: 250px;
  height: 350px;
  margin-left: 40%;
  margin-top: 20%;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 16px 17px 6px #0c0c0c42;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      0deg,
      rgba(1, 0, 22, 0.7791491596638656) 0%,
      rgba(0, 0, 9, 0) 35%
    ),
    url(../images/d.jpg);
}
.basic-1 h2 {
  margin-bottom: 1.375rem;
  color: white;
}
.basic-1 p {
  color: #f3f3f3;
}

.basic-1 .btn-solid-reg {
  margin-top: 0.625rem;
}

/*************************/
/*     08. Details 2     */
/*************************/
.basic-2 {
  padding-top: 3.75rem;
  padding-bottom: 4rem;
  background: #f6f8fb;
}

.basic-2 .image-container {
  margin-bottom: 4rem;
}

.basic-2 h2 {
  margin-bottom: 1.375rem;
}

.basic-2 .list-unstyled .fas {
  color: var(--theme_color);
  line-height: 1.375rem;
}

.basic-2 .list-unstyled .media-body {
  margin-left: 0.625rem;
}

.basic-2 .btn-solid-reg {
  margin-top: 0.625rem;
}

/**********************************/
/*     09. Details Lightboxes     */
/**********************************/
.lightbox-basic {
  margin: 2.5rem auto;
  padding: 2rem 1.5rem 2rem 1.5rem;
  border-radius: 0.55rem;
  box-shadow: 0px 0px 8px #06060614;
  /* background-image: linear-gradient(#00000000,rgb(0 0 0 / 0%)), url(../images/bg-home.png); */
  background-color: #1e2024;
  text-align: left;
}

.our_Work_text{
line-height: 25px !important;
letter-spacing: 1px;
}

.lightbox-basic .container {
  padding-right: 0;
  padding-left: 0;
}

.lightbox-basic .image-container {
  max-width: 33.75rem;
  margin-right: auto;
  /* margin-bottom: 3rem; */
  margin-left: auto;
}

.lightbox-basic h3 {
  margin-bottom: 0.5rem;
  color: #f3f3f3;
  font-family: "Poppins", sans-serif;
}
.lightbox-basic h5 {
  color: #f3f3f3;
}
.lightbox-basic hr {
  width: 2.5rem;
  height: 0.125rem;
  margin-top: 0;
  margin-bottom: 1.25rem;
  margin-left: 0;
  border: 0;
  background-color: var(--theme_color);
  text-align: left;
}

.lightbox-basic h4 {
  margin-bottom: 1rem;
}

.lightbox-basic .list-unstyled .fas {
  color: #e8236c;
  line-height: 1.375rem;
}

.lightbox-basic .list-unstyled .media-body {
  margin-left: 0.625rem;
}

.lightbox-basic .btn-outline-reg,
.lightbox-basic .btn-solid-reg {
  margin-top: 0.75rem;
  border-radius: 3px;
  letter-spacing: 1px;
  font: 800 1rem/0 "Gilroy";
  
}

/* Signup Button */
.lightbox-basic .btn-solid-reg.mfp-close {
  position: relative;
  width: auto;
  height: auto;
  background: var(--theme_color);
  border: none !important;
  color: #fff;
  opacity: 1;
}

.lightbox-basic .btn-solid-reg.mfp-close:hover {
  color: #ffffffa1;
  background: #87521a9a;
}
/* end of signup Button */

/* Back Button */
.lightbox-basic a.mfp-close.as-button {
  position: relative;
  width: auto;
  height: auto;
  margin-left: 0.375rem;
  color: var(--theme_color);
  opacity: 1;
  border-radius: 10px;
  letter-spacing: 1px;
  font: 800 1rem/0 "Gilroy";
}

.lightbox-basic a.mfp-close.as-button:hover {
  color: #fff;
}
/* end of back button */

.lightbox-basic button.mfp-close.x-button {
  position: absolute;
  top: -0.125rem;
  right: -0.125rem;
  width: 2.75rem;
  height: 2.75rem;
  color: #707984;
}

/***********************/
/*     10. Pricing     */
/***********************/
.cards-2 {
  padding-top: 3rem;
  padding-bottom: 2.75rem;
  text-align: center;
}

.cards-2 h2 {
  margin-bottom: 1rem;
}

.cards-2 .card {
  display: block;
  max-width: 19.5rem;
  margin-right: auto;
  margin-bottom: 6rem;
  margin-left: auto;
  border: 1px solid #c4d8dc;
  border-radius: 0.5rem;
  vertical-align: top;
}

.cards-2 .card .card-body {
  padding: 2.5rem 2.75rem 1.875rem 2.5rem;
}

.cards-2 .card .card-title {
  margin-bottom: 0.625rem;
  color: #393939;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-align: center;
}

.cards-2 .card .card-subtitle {
  margin-bottom: 1.75rem;
}

.cards-2 .card .cell-divide-hr {
  height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  background-color: #c4d8dc;
}

.cards-2 .card .price {
  padding-top: 0.875rem;
  padding-bottom: 1.5rem;
}

.cards-2 .card .value {
  color: var(--theme_color);
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4rem;
  text-align: center;
}

.cards-2 .card .currency {
  margin-right: 0.375rem;
  color: var(--theme_color);
  font-size: 1.5rem;
  vertical-align: 56%;
}

.cards-2 .card .frequency {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  text-align: center;
}

.cards-2 .card .list-unstyled {
  margin-top: 1.875rem;
  margin-bottom: 1.625rem;
  text-align: left;
}

.cards-2 .card .list-unstyled.li-space-lg li {
  margin-bottom: 0.5rem;
}

.cards-2 .card .list-unstyled .fas {
  color: var(--theme_color);
  line-height: 1.375rem;
}

.cards-2 .card .list-unstyled .fas.fa-times {
  margin-left: 0.1875rem;
  margin-right: 0.125rem;
  color: #777b7e;
}

.cards-2 .card .list-unstyled .media-body {
  margin-left: 0.625rem;
}

.cards-2 .card .button-wrapper {
  position: absolute;
  right: 0;
  bottom: -1.25rem;
  left: 0;
  text-align: center;
}

.cards-2 .card .btn-solid-reg:hover {
  background-color: #fff;
}

/* Best Value Label */
.cards-2 .card .label {
  position: absolute;
  top: 0;
  right: 0;
  width: 10.625rem;
  height: 10.625rem;
  overflow: hidden;
}

.cards-2 .card .label .best-value {
  position: relative;
  width: 13.75rem;
  padding: 0.3125rem 0 0.3125rem 4.125rem;
  background-color: var(--theme_color);
  color: #fff;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
}
/* end of best value label */

/***********************/
/*     11. Request     */
/***********************/
.form-1 {
  padding-top: 6.875rem;
  padding-bottom: 6.25rem;
  background-color: #f9fafc;
}

.form-1 h2 {
  margin-bottom: 1.25rem;
}

.form-1 .list-unstyled {
  margin-top: 1.375rem;
}

.form-1 .list-unstyled .fas {
  color: var(--theme_color);
  line-height: 1.375rem;
}

.form-1 .list-unstyled .media-body {
  margin-left: 0.625rem;
}

.form-1 .text-container {
  margin-bottom: 3.5rem;
}

/*********************/
/*     12. Video     */
/*********************/
.basic-3 {
  padding-top: 6.875rem;
  padding-bottom: 6.125rem;
}

.basic-3 h2 {
  margin-bottom: 3rem;
  text-align: center;
}

.basic-3 .image-container {
  margin-bottom: 2.25rem;
}

.basic-3 .image-container img {
  border-radius: 0.5rem;
}

.basic-3 .video-wrapper {
  position: relative;
}

/* Video Play Button */
.basic-3 .video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  display: block;
  box-sizing: content-box;
  width: 2rem;
  height: 2.75rem;
  padding: 1.125rem 1.25rem 1.125rem 1.75rem;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.basic-3 .video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  display: block;
  width: 4.75rem;
  height: 4.75rem;
  border-radius: 50%;
  background: var(--theme_color);
  animation: pulse-border 1500ms ease-out infinite;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.basic-3 .video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  display: block;
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  background: var(--theme_color);
  transition: all 200ms;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.basic-3 .video-play-button span {
  position: relative;
  display: block;
  z-index: 3;
  top: 0.375rem;
  left: 0.25rem;
  width: 0;
  height: 0;
  border-left: 1.625rem solid #fff;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
/* end of video play button */

.basic-3 p {
  text-align: center;
}

/****************************/
/*     13. Testimonials     */
/****************************/
.slider-2 {
  padding-top: 7.5rem;
  padding-bottom: 7rem;
  /* background: url("../images/testimonials-background.jpg") center center
    no-repeat; */
  background-size: cover;
}

.slider-2 .image-container {
  margin-bottom: 4rem;
}

.slider-2 h2 {
  margin-bottom: 2.5rem;
  text-align: center;
}

.slider-2 .slider-container {
  position: relative;
}

.slider-2 .swiper-container {
  position: static;
  width: 90%;
  text-align: center;
}

.slider-2 .swiper-button-prev:focus,
.slider-2 .swiper-button-next:focus {
  /* even if you can't see it chrome you can see it on mobile device */
  outline: none;
}

.slider-2 .swiper-button-prev {
  left: -0.5rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23626262'%2F%3E%3C%2Fsvg%3E");
  background-size: 1.125rem 1.75rem;
}

.slider-2 .swiper-button-next {
  right: -0.5rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23626262'%2F%3E%3C%2Fsvg%3E");
  background-size: 1.125rem 1.75rem;
}

.slider-2 .card {
  position: relative;
  border: none;
  background-color: transparent;
}

.slider-2 .card-image {
  width: 7rem;
  height: 7rem;
  margin-right: auto;
  margin-bottom: 0.25rem;
  margin-left: auto;
  border-radius: 50%;
}

.slider-2 .card-body {
  padding-bottom: 0;
}

.slider-2 .testimonial-author {
  margin-bottom: 0;
}

/*********************/
/*     14. About     */
/*********************/
.basic-4 {
  padding-top: 7rem;
  padding-bottom: 4rem;
  text-align: center;
}

.basic-4 h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.basic-4 .team-member {
  max-width: 12.5rem;
  margin-right: auto;
  margin-bottom: 3.5rem;
  margin-left: auto;
}

.imgabout {
  padding-top: 5rem;
}

/* Hover Animation */
.basic-4 .image-wrapper {
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-radius: 50%;
}

.basic-4 .image-wrapper img {
  margin: 0;
  transition: all 0.3s;
}

.basic-4 .image-wrapper:hover img {
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/* end of hover animation */

.basic-4 .team-member .p-large {
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
}

.basic-4 .team-member .job-title {
  margin-bottom: 0.375rem;
}

.basic-4 .fa-stack {
  margin-top: 0.375rem;
  margin-right: 0.125rem;
  margin-left: 0.125rem;
  font-size: 0.875rem;
}

.basic-4 .fa-stack-2x {
  color: var(--theme_color);
  transition: all 0.2s ease;
}

.basic-4 .fa-stack-1x {
  color: #fff;
  transition: all 0.2s ease;
}

.basic-4 .fa-stack:hover .fa-stack-2x {
  color: #87521aad;
}

.basic-4 .fa-stack:hover .fa-stack-1x {
  color: #fff;
}

/***********************/
/*     15. Contact     */
/***********************/
.form-2 {
  padding-top: 7rem;
  padding-bottom: 6.25rem;
}

.form-2 h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.form-2 .list-unstyled {
  margin-bottom: 3.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.form-2 .list-unstyled .fas,
.form-2 .list-unstyled .fab {
  margin-right: 0.5rem;
  font-size: 0.875rem;
  color: var(--theme_color);
}

.form-2 .list-unstyled .fa-phone {
  vertical-align: 3%;
}

.form-2 .map-responsive {
  position: relative;
  overflow: hidden;
  height: 0;
  margin-bottom: 4rem;
  padding-bottom: 70%;
  border-radius: 0.25rem;
}

.form-2 .map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/**********************/
/*     16. Footer     */
/**********************/
.footer {
  padding-top: 4.625rem;
  padding-bottom: 0.5rem;
  background: #1e2024;
  margin: auto;
  text-align: center;
}

.footer .foot-logo img{
  width: 100px;
  margin-top: 80px;
}

.footer .footer-col {
  margin-bottom: 2.25rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.footer h4 {
  margin-bottom: 1rem;
  color: #f3f3f3;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  padding-bottom: 1.5rem;
}

.footer .list-unstyled .fas {
  color: var(--theme_color);
  font-size: 0.5rem;
  line-height: 1.375rem;
}

.footer .list-unstyled .media-body {
  margin-left: 0.625rem;
}

.footer .fa-stack {
  margin-bottom: 0.75rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
  color: #fff;
  transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
  color: var(--theme_color);
  transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
  color: #fff;
}

.footer .fa-stack:hover .fa-stack-2x {
  color: #87521aad;
}

/*************************/
/*     17. Copyright     */
/*************************/
.copyright {
  padding-top: 1rem;
  padding-bottom: 0.375rem;
  text-align: center;
  background:#1e2024;
}

.copyright .p-small {
  padding-top: 1.375rem;
  color: #dfdfdf;
  letter-spacing: 1px;
}
.copyright .p-small > a {
  color: #1877f2;
  font-weight: 400;
  text-decoration: none;
}

/**********************************/
/*     18. Back To Top Button     */
/**********************************/
a.back-to-top {
  position: fixed;
  z-index: 999;
  right: 0.75rem;
  bottom: 0.75rem;
  display: none;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 1.875rem;
  background: var(--theme_color) url("../images/up-arrow.png") no-repeat center
    47%;
  background-size: 1.125rem 1.125rem;
  text-indent: -9999px;
}

a:hover.back-to-top {
  background-color: #87521aad;
}

/***************************/
/*     19. Extra Pages     */
/***************************/
.ex-header {
  padding-top: 8rem;
  padding-bottom: 5rem;
  text-align: center;
  background-size: cover;
  background: url(../images/ex-lan.png);
  background-repeat: no-repeat;
  width: 100%;
}

.ex-basic-1 {
  padding-top: 2rem;
  padding-bottom: 0.875rem;
  background-color: #f7fcfd;
}

.ex-basic-1 .breadcrumbs {
  margin-bottom: 1.125rem;
}

.ex-basic-1 .breadcrumbs .fa {
  margin-right: 0.5rem;
  margin-left: 0.625rem;
}

.ex-basic-2 {
  padding-top: 4.75rem;
  padding-bottom: 4rem;
}

.ex-basic-2 h3 {
  margin-bottom: 1rem;
}

.ex-basic-2 .text-container {
  margin-bottom: 3.625rem;
}

.ex-basic-2 .text-container.last {
  margin-bottom: 0;
}

.ex-basic-2 .list-unstyled .fas {
  color: var(--theme_color);
  font-size: 0.5rem;
  line-height: 1.375rem;
}

.ex-basic-2 .list-unstyled .media-body {
  margin-left: 0.625rem;
}

.ex-basic-2 .btn-outline-reg {
  margin-top: 1.75rem;
}

.ex-basic-2 .image-container-large {
  margin-bottom: 4rem;
}

.ex-basic-2 .image-container-large img {
  border-radius: 0.25rem;
}

.ex-basic-2 .image-container-small img {
  border-radius: 0.25rem;
}

.ex-basic-2 .text-container.dark-bg {
  padding: 1.625rem 1.5rem 0.75rem 2rem;
  background-color: #f9fafc;
}

/*****************************/
/*     20. Media Queries     */
/*****************************/
@media (max-width: 768px) {
  .header .header-content {
    margin-top: 0.5rem;
  }
  .header h1 {
    width: 100%;
    text-align: left;
    margin-right: auto;
    font-size: 2rem;
    line-height: 3rem;
    margin-left: auto;
    letter-spacing: 2px;
    font-family: "quartzo";
  }
  .header .text-container {
    margin-top: 15%;
    text-align: left;
  }
  .header .text-container a {
    position: relative;
    margin-top: 10px;
  }
  .header .image-container {
    display: none;
  }
  .footer .foot-logo img{
    margin-top: 2px;
  }
  .btn-solid-lg {
    font-size: 15px;
    padding: 1rem 1.2rem 1rem 1.2rem;
  }
  .bb_card {
    width: 100px;
    height: 110px;
  }
  .basic-1 {
    text-align: center;
  }
  .ex-header {
    width: auto;
  }
  .new_text {
    display: none;
  }
  .basic-1 .image-container {
    margin: auto;
  }
  .basic-1 .image-about{
    margin: auto;
  }
  .lightbox-basic .image-container{
    width: 90%;
  }
  /* footer .foot-logo img{
    padding: 100px;
  } */
}
.form-2 .list-unstyled .address {
  color: #00071a;
}
/* Min-width width 768px */
@media (min-width: 768px) {
  /* General Styles */
  .p-heading {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of general styles */

  /* Header */
  .header .header-content {
    padding-top: 8.5rem;
  }

  .header h1 {
    font-size: 4rem;
    width: 60%;
    line-height: 4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  /* end of header */

  /* Customers */
  .slider-1 {
    padding-top: 3rem;
    padding-bottom: 2.875rem;
  }

  .slider-1 .slider-container {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }
  /* end of customers */

  /* Video */
  .basic-3 p {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of video */

  /* Testimonials */
  .slider-2 .slider-container {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .slider-2 .swiper-container {
    width: 85%;
  }

  .slider-2 .swiper-button-prev {
    left: 1rem;
    width: 1.375rem;
    background-size: 1.375rem 2.125rem;
  }

  .slider-2 .swiper-button-next {
    right: 1rem;
    width: 1.375rem;
    background-size: 1.375rem 2.125rem;
  }
  /* end of testimonials */

  /* About */
  .basic-4 .team-member {
    display: inline-block;
    width: 12.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    vertical-align: top;
  }
  /* end of about */

  /* Contact */
  .form-2 .list-unstyled li {
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .form-2 .list-unstyled .address {
    display: block;
  }
  /* end of contact */

  /* Extra Pages */
  .ex-header {
    padding-top: 13rem;
    padding-bottom: 10rem;
  }

  .ex-basic-2 .text-container.dark {
    padding: 2.5rem 3rem 2rem 3rem;
  }

  .ex-basic-2 .text-container.column {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of extra pages */
}
/* end of min-width width 768px */

/* Min-width width 992px */
@media (min-width: 992px) {
  /* Navigation */
  .navbar-custom {
    padding: 2.125rem 1.5rem 2.125rem 2rem;
    box-shadow: none;
    background: transparent;
  }

  .navbar-custom .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
/* 
  .navbar-custom .nav-item .nav-link {
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    font-size: 1rem;
  } */

  .navbar-custom .nav-item .nav-link:hover,
  .navbar-custom .nav-item .nav-link.active {
    color: var(--theme_color);
    opacity: 1;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0.5rem 1.5rem 0.5rem 2rem;
    box-shadow: -1px 0rem 4rem 0 rgb(8 8 8 / 13%);
    background-color: #14161a;
  }

  /* .navbar-custom.top-nav-collapse .nav-item .nav-link {
    color: #f3f3f3;
    opacity: 1;
  } */

  .navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
  .navbar-custom.top-nav-collapse .nav-item .nav-link.active {
    color: var(--theme_color);
  }

  .navbar-custom .dropdown-menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 0.75rem solid rgba(0, 0, 0, 0);
    border-radius: 0.25rem;
  }

  .navbar-custom.top-nav-collapse .dropdown-menu {
    border-top: 0.5rem solid rgba(0, 0, 0, 0);
    box-shadow: 0 0.375rem 0.375rem 0 rgba(0, 0, 0, 0.02);
  }

  .navbar-custom .dropdown-item {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .navbar-custom .dropdown-items-divide-hr {
    width: 84%;
  }

  .navbar-custom .social-icons {
    display: block;
    margin-left: 0.5rem;
  }

  .navbar-custom .fa-stack {
    margin-bottom: 0.1875rem;
    margin-left: 0.25rem;
    font-size: 0.75rem;
  }

  .navbar-custom .fa-stack-2x {
    color: var(--theme_color);
    transition: all 0.2s ease;
  }

  .navbar-custom .fa-stack-1x {
    color: #fff;
    transition: all 0.2s ease;
  }

  .navbar-custom .fa-stack:hover .fa-stack-2x {
    color: #fff;
  }

  .navbar-custom .fa-stack:hover .fa-stack-1x {
    color: var(--theme_color);
  }

  .navbar-custom.top-nav-collapse .fa-stack-2x {
    color: var(--theme_color);
  }

  .navbar-custom.top-nav-collapse .fa-stack-1x {
    color: #fff;
  }

  .navbar-custom.top-nav-collapse .fa-stack:hover .fa-stack-2x {
    color: #87521aad;
  }

  .navbar-custom.top-nav-collapse .fa-stack:hover .fa-stack-1x {
    color: #fff;
  }
  /* end of navigation */

  /* General Styles */
  .p-heading {
    width: 65%;
  }
  /* end of general styles */

  /* Header */

  .header .header-content {
    padding-top: 11.5rem;
    text-align: left;
  }

  .header .text-container {
    margin-top: 3rem;
    margin-bottom: 0;
  }
  /* end of header */

  /* Services */
  .cards-1 .card {
    display: inline-block;
    max-width: 17.125rem;
    vertical-align: top;
  }

  .cards-1 .col-lg-12 div.card:nth-child(3n + 2) {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  /* clients */
  .cards-3 .card {
    display: inline-block;
    max-width: 17.125rem;
    vertical-align: top;
  }

  .cards-3 .col-lg-12 div.card:nth-child(3n + 2) {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  /* end of services */

  /* Details 1 */
  .basic-1 .text-container {
    margin-top: 3.875rem;
    margin-bottom: 0;
  }
  /* end of details 1 */

  /* Details 2 */
  .basic-2 .image-container {
    margin-bottom: 0;
  }

  .basic-2 .text-container {
    margin-top: 3.125rem;
  }
  /* end of details 2 */

  /* Details Lightboxes */
  .lightbox-basic {
    max-width: 62.5rem;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  }

  .lightbox-basic .image-container {
    max-width: 100%;
    margin-right: 2rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
  }

  .lightbox-basic h3 {
    margin-top: 0.5rem;
  }
  /* end of details lightboxes */

  /* Pricing */
  .cards-2 .card {
    display: inline-block;
    width: 17.125rem;
    max-width: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  /* end of pricing */

  /* Request */
  .form-1 {
    padding-top: 7.5rem;
  }

  .form-1 .text-container {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  /* end of request */

  /* Video */
  .basic-3 .image-container {
    max-width: 53.125rem;
    margin-right: auto;
    margin-left: auto;
  }

  .basic-3 p {
    width: 65%;
  }
  /* end of video */

  /* Testimonials */
  .slider-2 {
    padding-bottom: 7.5rem;
  }

  .slider-2 .image-container {
    margin-bottom: 0;
  }

  .slider-2 .slider-container {
    width: 88%;
  }

  .slider-2 .swiper-container {
    width: 82%;
  }
  /* end of testimonials */

  /* Contact */
  .form-2 .map-responsive {
    margin-bottom: 0;
  }
  /* end of contact */

  /* Extra Pages */
  .ex-header {
    background-size: cover;
    background: url(../images/ex-lan.png);
    background-repeat: no-repeat;
    width: 100%;
  }

  .ex-header h1 {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 80px;
  }

  .ex-basic-2 {
    padding-bottom: 5rem;
  }

  .ex-basic-2 .text-container.column {
    margin-bottom: 0;
  }
  /* end of extra pages */
}
/* end of min-width width 992px */

/* Min-width width 1200px */
@media (min-width: 1200px) {
  /* Navigation */
  .navbar-custom {
    padding: 0.798rem 3.5rem 0.798rem 0.5rem;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0.798rem 3.5rem 0.798rem 0.5rem;
  }
  /* end of navigation */

  /* General Styles */
  .p-heading {
    width: 55%;
  }
  /* end of general styles */

  /* Header */
  /* .header {
    position: absolute;
  } */
  .header .header-content {
    padding-top: 10rem;
    padding-bottom: 8.5rem;
    /* background-color: #f6f8fb; */
  }

  .header .text-container {
    margin-top: 10rem;
    margin-left: 4rem;
    margin-right: 1rem;
  }

  .header .image-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  /* end of header */

  /* Customers */
  .slider-1 .slider-container {
    margin-right: 3rem;
    margin-left: 3rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  /* end of customers */

  /* Services */
  .cards-1 .card {
    max-width: 21rem;
  }

  .cards-1 .col-lg-12 div.card:nth-child(3n + 2) {
    margin-right: 2.875rem;
    margin-left: 2.875rem;
  }
  /* end of services */

  /* Details 1 */
  .basic-1 .text-container {
    margin-top: 6.125rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
  /* end of details 1 */
/* iframe */

  /* Details 2 */
  .basic-2 .text-container {
    margin-top: 5.375rem;
    margin-right: 1rem;
    margin-left: 4rem;
  }
  /* end of details 2 */

  /* Pricing */
  /* .cards-2 .card {
    width: 19.5rem;
    margin-right: 1.625rem;
    margin-left: 1.625rem;
  } */
  /* end of pricing */

  /* Request */
  .form-1 .text-container {
    margin-right: 1.5rem;
    margin-left: 6rem;
  }

  .form-1 form {
    margin-right: 6rem;
    margin-left: 1.5rem;
  }
  /* end of request */

  /* Video */
  .basic-3 p {
    width: 55%;
  }
  /* end of video */

  /* Testimonials */
  .slider-2 h2 {
    margin-top: 3.5rem;
  }
  /* end of testimonials */

  /* About */
  .basic-4 .team-member {
    margin-right: 2.25rem;
    margin-left: 2.25rem;
  }
  /* end of about */

  /* Contact */
  .form-2 .map-responsive {
    max-width: 31rem;
    margin-right: auto;
    margin-left: auto;
  }

  .form-2 #contactForm {
    max-width: 31rem;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of contact */

  /* Footer */
  /* .footer .footer-col {
    width: 90%;
  } */

  .footer .footer-col.middle {
    margin-right: auto;
    margin-left: auto;
  }

  .footer .footer-col.last {
    margin-right: 0;
    margin-left: auto;
  }
  /* end of footer */

  /* Extra Pages */
  .ex-header h1 {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  .ex-basic-2 .form-container {
    margin-left: 1.75rem;
  }

  .ex-basic-2 .image-container-small {
    margin-left: 1.75rem;
  }
  /* end of extra pages */
}
/* end of min-width width 1200px */
