.team_section {
  padding: 4rem 0;
  text-align: center;
  background: #1e2024;
}

.team_card {
  width: 85%;
  height: 550px;
  display: inline-block;
  padding: 15px 25px;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 5px 5px;
  box-shadow: 0px 16px 17px 6px #0c0c0c42;
  background-position: center;
  background-size: cover;
  transition: transform 0.4s;
}

.team_card h3 {
  position: relative;
  top: 90%;
  color: #ffffff;
  font-family: "gilroy_medium";
  text-align: left;
  font-size: 17px;
}

.pic1 {
  background-image: linear-gradient(
      0deg,
      rgba(1, 0, 22, 0.7791491596638656) 0%,
      rgba(0, 0, 9, 0) 35%
    ),
    url(../images/a.jpg);
}
.pic2 {
  background-image: linear-gradient(
      0deg,
      rgba(1, 0, 22, 0.7791491596638656) 0%,
      rgba(0, 0, 9, 0) 35%
    ),
    url(../images/b.jpg);
}
.pic3 {
  background-image: linear-gradient(
      0deg,
      rgba(1, 0, 22, 0.7791491596638656) 0%,
      rgba(0, 0, 9, 0) 35%
    ),
    url(../images/g.jpg);
}
.pic4 {
  background-image: linear-gradient(
      0deg,
      rgba(1, 0, 22, 0.7791491596638656) 0%,
      rgba(0, 0, 9, 0) 35%
    ),
    url(../images/team-2.jpg);
}
