@font-face {
  font-family: newYork;
  src: url(../newyork/NewYork\ PERSONAL\ USE.otf);
}
.manual_padding_container{
padding: 3rem;
}
.team_section {
  padding: 4rem 0;
  text-align: center;
  background: #1e2024;
}
.team_section h2 {
  color: #f3f3f3;
  padding-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}
.team_section a {
  text-decoration: none;
}
.team_card {
  width: 100%;
  height: 550px;
  display: inline-block;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 27px;
  box-shadow: 0px 16px 17px 6px #0c0c0c42;
  background-position: center;
  background-size: cover;
  transition: transform 0.4s;
}

.card_container_number{
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  font-size: 40px;
}
.card_container_number>div>h1{
  font-size: 5vw;
  font-weight: 400;
  font-family: 'newYork';
}
.card_name{
  width: 65%; 
  margin: 0; 
  padding: 0; 
  line-height: 42px;

}
.card_name >h1{
  font-size: 2.2vw;
  font-family: 'newYork';
  font-weight: 400;
  text-transform: uppercase;
}
.card_view_box{
  align-self: flex-end; 
  width: 100%; 
  border-top: 2px solid rgba(255, 255, 255, 0.34); 
}
.team_card h3 {
  padding: 20px 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 3vw;
  letter-spacing: 4px;
  text-decoration: none !important;
  text-align: center;
  font-weight: 400;
  margin: 0;
}
/* ==========over write css============= */
.container_name_arrow{
  display: flex;
  justify-content: space-between;
}
.mfp-close-btn-in .mfp-close{
  background:#606671;
  border-top-right-radius:10px;
  border-bottom-left-radius:20px;
}
/* .mfp-bg{
  background: #00000073;
  backdrop-filter: blur(10px);
} */

@media (max-width: 768px) {
  .manual_padding_container{
    padding: 1.2rem;
    }
  .team_card {
    width: 95%;
    height: 400px;
    display: inline-block;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 20px 10px;
    box-shadow: 0px 16px 17px 6px #0c0c0c42;
    background-position: center;
    background-size: cover;
    transition: transform 0.4s;
  }
  .team_card h3 {
    font-size: 5vw;
  }
  .card_container_number>div>h1{
    font-size: 11.5vw;
    font-weight: 400;
    font-family: 'newYork';
  }
  .card_name >h1{
    font-size: 5vw;
    font-family: 'newYork';
    font-weight: 400;
    text-transform: uppercase;
  }
}

.pic100 {
  background-image: url(../images/ceiling.jpg);
}
.pic20 {
  background-image: url(../images/ply.jpg);
}
.pic30 {
  background-image: url(../images/3d.jpg);
}
.pic40 {
  background-image: url(../images/wall.jpg);
}

.pic1 {
  background-image: url(../images/wooden.jpg);
}
.pic2 {
  background-image: url(../images/ceiling.jpg);
}
.pic3 {
  background-image: url(../images/designwall.jpg);
}
.pic4 {
  background-image: url(../images/UPVC\ \ Work.jpg);
}
.pic5 {
  background-image: url(../images/laminate\ 2.jpg);
}
.pic6 {
  background-image: url(../images/Handles2.jpg);
}
.pic7 {
  background-image: url(../images/MS\ Glass\ railing\ 2.jpg);
}
.pic8 {
  background-image: url(../images/Aluminium\ and\ ACP\ \ work.jpg);
}
.pic9 {
  background-image: url(../images/electrifi.jpg);
}
.pic10 {
  background-image: url(../images/hpl.jpg);
}
.pic11 {
  background-image: url(../images/Constructin.jpg);
}
.pic12 {
  background-image: url(../photos/Maitence.jpg);
}
@media (min-width: 1200px) {
  .team_section {
    margin-top: -10px;
  }
}


/* ==================details card================ */

.details_card {
  margin: 2.5rem auto;
  padding: 2rem 1.5rem 2rem 1.5rem;
  border-radius: 0.55rem;
  box-shadow: 0px 0px 8px #06060614;
  background: rgba(21, 21, 21, 1);
  text-align: left;
}
/* .details_card img {
  height: 70vh;
} */
.details_card .container {
  padding-right: 0;
  padding-left: 0;
}
.details_card .brand_icons {
  /* display: flex; */
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}
.details_card .h41 {
  color: #f3f3f3;
  text-align: left;
  font-family: "Momocake";
  letter-spacing: 4px;
}

.details_card h6 {
  color: #f3f3f3;
  text-align: center;
  font-family: "Momocake";
  letter-spacing: 4px;
  margin-top: -7px;
  margin-left: 20px;
}

.details_card h4 {
  color: #f3f3f3;
  text-align: center;
  font-family: "Momocake";
  letter-spacing: 4px;
  margin-top: 20px;
}
.details_card .brand_icons img {
  width: 10%;
  margin: 10px;
  margin-top: 15px;
  text-align: center;
}
.details_card .ForCssOnly {
  display: flex;
  padding-top: 20px;
  cursor: pointer;
  align-items: baseline;
}
.details_card .ForCssOnly p {
  margin-left: 20px;
  /* margin-top: -5px; */
}

/* .details_card .demo_pic img {
  width: 100%;
  height: 300px;
} */
.details_card .demo_pic {
  animation: demopic 12s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}

@keyframes demopic {
  0%,
  100% {
    background: url(../images/ply4.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/ply3.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/ply2.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/ply.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .upvc_pic {
  animation: upvcpic 15s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes upvcpic {
  0%,
  100% {
    background: url(../photos/UPVCWorks1.png) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../photos/UPVCWorks3.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../photos/UPVCWorks5.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .laminate_pic {
  animation: laminate 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes laminate {
  0%,
  100% {
    background: url(../images/laminate1.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/laminate\ 2.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/laminate\ 3.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/laminate1.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .hardwares_pic {
  animation: hardwarespic 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes hardwarespic {
  0%,
  100% {
    background: url(../images/Handles\ 1.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/Handles2.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/Baskets\ 1.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/Baskets2.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .msss_pic {
  animation: msss 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes msss {
  0%,
  100% {
    background: url(../images/MS\ Gate\ Auto\ mation\ 1.jpg) center center
      no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/MS\ Gate\ Auto\ mation\ 3.jpg) center center
      no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/MS\ Stair\ Case.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/MS\ Glass\ railing\ 2.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .aluminium_pic {
  animation: aluminiumpic 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes aluminiumpic {
  0%,
  100% {
    background: url(../photos/Aluminium&ACPWork4.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../photos/Aluminium&ACPWork2.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../photos/Aluminium&ACPWork3.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .electrification_pic {
  animation: electrification 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes electrification {
  0%,
  100% {
    background: url(../images/electrifi.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/electr.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/electrification.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/electrifi.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .paint_pic {
  animation: paint 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes paint {
  0%,
  100% {
    background: url(../images/paint.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/paint\ 2.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/paint\ 3.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/paint.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .hpl_pic {
  animation: hpl 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes hpl {
  0%,
  100% {
    background: url(../photos/HPLworks1.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../photos/HPLworks2.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../photos/HPLworks3.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../photos/HPLworks4.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .walldesign_pic {
  animation: walldesign 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes walldesign {
  0%,
  100% {
    background: url(../images/wall.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/wall\ 3.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/wall\ 2.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/wall\ 3.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .connst_pic {
  animation: connst 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes connst {
  0%,
  100% {
    background: url(../images/construct.png) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/cunstructions.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/Constructin.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/construct.png) center center no-repeat;
    background-size: cover;
  }
}
.details_card .flooring_pic {
  animation: flooringpic 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes flooringpic {
  0%,
  100% {
    background: url(../images/Wooden\ floring.jpg) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/Wooden\ floring\ 2.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/Wooden\ floring\ 3.jpeg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/Wooden\ floring.jpg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .ceiling_pic {
  animation: ceilingpic 18s infinite;
  background-size: cover;
  height: 300px;
  width: 100%;
}
@keyframes ceilingpic {
  0%,
  100% {
    background: url(../images/ceiling.png) center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(../images/Ceiling2.jpg) center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../images/ceiling3.jpg) center center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(../images/celing.jpeg) center center no-repeat;
    background-size: cover;
  }
}
.details_card .demo-btn {
  margin-left: 5%;
}
.details_card .demo-btn i {
  font-size: 30px;
  cursor: pointer;
}
.details_card .demo-btn .demo-btn1 {
  margin-right: 80%;
}

@media (min-width: 991px) {
  /* Details Lightboxes */
  .details_card {
    max-width: 62.5rem;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  }

  .details_card .brand_icons {
    max-width: 100%;
    margin-bottom: 0;
    text-align: center;
  }

  .details_card h3 {
    margin-top: 0.5rem;
  }
}
@media (max-width: 768px) {
  .details_card .brand_icons {
    text-align: center;
  }
}
