.video_pic {
  padding: 0;
  display: flex;
}
.video_pic a {
  text-decoration: none;
}
.vp_video_card {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/videopic.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
.icon_text {
  display: flex;
  justify-content: center;
}
.video_pic i {
  text-align: center;
  margin-top: 24%;
  font-size: 70px;
  margin-right: 20px;
  color: white;
}
.icon_text h4 {
  color: #f3f3f3;
  font-size: 40px;
  margin-top: 27%;
  letter-spacing: 4px;
  font-family: "Momocake";
}
.vp_img_card {
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/videopic2.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
.video_pic i {
  text-align: center;
  margin-top: 24%;
  font-size: 70px;
  margin-right: 20px;
  color: white;
}
@media (max-width: 768px) {
  .video_pic {
    display: block;
  }
}
